<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/4956590d6e.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light corSecundaria">
        <div class="container-fluid">
          <a class="navbar-brand textoBranco" href="#" >Maycon Wolski</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link textoBranco" href="#projetos">Projetos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link textoBranco"  href="#sobreMim">Sobre mim</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link textoBranco" href="#depoimentos">Depoimentos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link textoBranco" href="#contato">Contato</a>
                </li>

            </ul>
          </div>
        </div>
      </nav>

  <section class="jumbotron text-center corPrimaria baixo">
    <div class="container">
        <img class="foto-perfil" src="/static/imagens/pngwing.com.png">
      <h1 class="jumbotron-heading textoBranco">Maycon Wolski</h1>
      <p class="lead textoBranco">Criador de sites e desenvolvedor de automações com python</p>
      <p>
        <a href="#contato" class="btn btn-dark my-2">Contato</a>
      </p>
      <a href=""><i class="fab fa-linkedin textoBranco"></i></a>
      <a href=""><i class="icones fab fa-github textoBranco"></i></a>
      <a href=""><i class="icones fab fa-instagram textoBranco"></i></a>
      <a href=""><i class="icones fab fa-youtube textoBranco"></i></a>
    </div>
  </section id="projetos">

  <div class="album py-5 bg-light">
    <div class="container">
      <h2 class="jumbotron-heading text-center titulosVerdes" >Projetos</h2>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
            src="/static/imagens/1.jpg" data-holder-rendered="true">
            <div class="card-body">
              <p class="card-text">Floresta Rosa.</p>
              <ul>
                  <li>Python</li>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>SQL</li>
              </ul>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href=""><button type="button" class="btn btn-sm btn-outline-success">Ver Projeto</button></a>
                    <a href=""><button type="button" class="btn btn-sm btn-outline-primary">Código</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
              src="/static/imagens/2.jpg" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-text">Rio Grande.</p>
                <ul>
                    <li>Python</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>SQL</li>
                </ul>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href=""><button type="button" class="btn btn-sm btn-outline-success">Ver Projeto</button></a>
                    <a href=""><button type="button" class="btn btn-sm btn-outline-primary">Código</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
              src="/static/imagens/3.jpg" data-holder-rendered="true">
              <div class="card-body">
                <p class="card-text">Flores.</p>
                <ul>
                    <li>Python</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>SQL</li>
                </ul>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href=""><button type="button" class="btn btn-sm btn-outline-success">Ver Projeto</button></a>
                    <a href=""><button type="button" class="btn btn-sm btn-outline-primary">Código</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div>
        <!-- sobre mim-->
  <section class="jumbotron text-center corPrimaria" id="sobreMim">
    <div class="container">
      <h2 class="jumbotron heaing titulosBrancos" >Sobre Mim</h2>
      <p class="lead textoBranco">Um pouco sobre mim, sou um desenvolvedor Python e
        programador Web de Barueri, em São Paulo, e trabalho com desenvolvimento de
        automações de tarefas com Python e criação de páginas Web.</p>
      <p class="lead textoBranco"> Faço projetos na área de programação desde 2020.
        Iniciei com o aprendizado de Python no Blender (desenvolvendo games) e hoje
        conheço várias estruturas diferentes e bibliotecas python e também bastante
        conhecimentos de estruturas web como: HTML, HTML5, CSS, CSS3, Javascript.
        Tenho um bom conhecimento com o Bootstrap e Programação Orientada a Objetos.
        Até o momento, criei sistemas nos quais sou muito grato, pois tive que encarar
        inúmeros desafios e resolver grandes problemas que me ajudaram a ser o profissional
        que sou hoje.
        </p>
    </div>
  </section>

      <!-- Depoimentos-->
  <section class="jumbotron text-center" id="depoimentos">
    <div class="container">
      <h2 class="jumbotron heaing text-center titulosVerdes" >Depoimentos</h2>
      <blockquote class="blockquote text-center">
        <p class="mb-0">Ainda em dúvida de como aplicar as etiquetas HTML nos textos?
          Esse artigo pode ser um bom começo para perder o medo das tais tags e
          deixar de pensar no assunto como um bicho de sete cabeças.</p>
        <br>
        <footer class="blockquote-footer"> Dona do <cite title="Source Title">Mercado Luz</cite></footer>
      </blockquote>
      <blockquote class="blockquote text-center">
        <p class="mb-0">Ainda em dúvida de como aplicar as etiquetas HTML nos textos?
          Esse artigo pode ser um bom começo para perder o medo das tais tags e
          deixar de pensar no assunto como um bicho de sete cabeças.</p>
        <br>
        <footer class="blockquote-footer"> Dona do <cite title="Source Title">Mercado Luz</cite></footer>
      </blockquote>
      <blockquote class="blockquote text-center">
        <p class="mb-0">Ainda em dúvida de como aplicar as etiquetas HTML nos textos?
          Esse artigo pode ser um bom começo para perder o medo das tais tags e
          deixar de pensar no assunto como um bicho de sete cabeças.</p>
        <br>
        <footer class="blockquote-footer"> Dona do <cite title="Source Title">Mercado Luz</cite></footer>
      </blockquote>

    </div>
  </section>

      <!-- Contato-->

  <section id="contato">
    <div>
      <div class="container-fluid corPrimaria" >
       <h3 style="padding-top: 60px;" class="text-center titulosBrancos">Disponível para oportunidades</h3>
       <a href="mailto:mayconwolski5@gmail.com">
         <h4  style="padding-bottom: 60px; margin-bottom: 0px;" class="text-center">mayconwolski5@gmail.com</h4></a>

     </div>
  </div>
  </section>
      <!-- Footer-->

    <footer class="text-center corSecundaria textoFooter">
      <p class="textoBranco">Copyright 2022 Portfolio Maycon Wolski</p>
    </footer>
</body>
</html>